<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <blackbird_index_monitoring>
            <general>
                <enabled>1</enabled>
                <threshold_minutes>60</threshold_minutes>
            </general>
        </blackbird_index_monitoring>
    </default>
</config>
